<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <title>Document</title>
</head>
<body>
    <h1>All Blogs are below:</h1>

  <!---->

  <div class="grid-container">
    <% if (tailors.length > 0) { %>
        <% tailors.forEach(tailor => { %>
            <div class="card" onclick="showDetails('<%= tailor.title %>', '<%= tailor.description %>','<%= tailor.imageUrl %>')">
                <img src="/uploads/<%= tailor.imageUrl || 'path/to/default-image.jpg' %>" alt="<%= tailor.name %>">
                <div class="card-info">
                    <h2><%= tailor.title %></h2>
                    <p><strong>Description:</strong> <%= tailor.description %></p>
                </div>
            </div>
        <% }); %>
    <% } else { %>
        <div>
            <p>No Blogs exist</p>
        </div>
    <% } %>
</div>



<!-- Expanded details container -->
<div class="details-container" id="detailsContainer">
  <div class="details-content">
      <span class="closebtn" onclick="hideDetails()">&times;</span>
      <img id="expandedImg">
      <h2 id="expandedName"></h2>
      <p><strong>Description:</strong> <span id="expandedPhone"></span></p>
  </div>
</div>

<div class="container">
  <button class="btn btn-2" onclick="openBlogForm()">Create a Blog</button>
  <button class="btn btn-2" onclick="openBlogForm()">Delete a Blog</button>
  <button class="btn btn-2" onclick="openBlogForm()">Update a Blog</button>

</div>

<script>
  function openBlogForm() {
      window.location.href = 'Log-in.html';
  }

//   function openDeleteForm() {
//       window.location.href = 'deleteBlogbyAdmin.html';
//   }

  function showDetails(title, description, imageUrl) {
      const expandedImg = document.getElementById('expandedImg');
      const expandedName = document.getElementById('expandedName');
      const expandedDescription = document.getElementById('expandedPhone');

      expandedImg.src = `/uploads/${imageUrl}`; // Adjust as per your image naming convention
      expandedName.textContent = title;
      expandedDescription.textContent = description;

      // Show the details container
      const detailsContainer = document.getElementById('detailsContainer');
      detailsContainer.style.display = 'block';
  }

  function hideDetails() {
      const detailsContainer = document.getElementById('detailsContainer');
      detailsContainer.style.display = 'none';
  }
</script>


  
</body>
</html>